.container #first{
	color:green;
}
.container #second{
	color:yellow;
}
.container #third{
	color:purple;
}
.main p{
	color:blue;
}

.content{
	display: flex;
	width:500px;
	height: 500px;
	background-color: blanchedalmond;
	justify-content: flex-start;
	align-items: center;
}
.item{
        margin:10px;
        padding-left: 10px;
        height:100px;
        width:100px;
        background-color: aquamarine;
}

.parent{
	position: relative;
	margin:10px;
	padding: 10px;
	height: 250px;
	width:250px;
	background-color: antiquewhite;
}

.child{
	position: absolute;
	height:30px;
	width:30px;
	right:120px;
	top:120px;
	background-color: aqua;
}