// .{
//     margin: 0px;
//     padding: 0px;
// }
.navbar{
    display: flex;
    background-color:rgb(222, 190, 9);
    height:200px;
    width: 100%;    
    justify-content: flex-end;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right:  10px;
        }
        .navlinks{
            list-style: none;
            flex-direction:row;
            display: flex;
            justify-content: center;
            margin-right: 10px;
            gap:10px;
            &:hover{
                color: red;
            }
        }
        .li{
            list-style: none;
        }
//         .container{
//             margin:20px;
//             height:400px;
//             width:400px;
//             background-color:gray;
//             display: flex;
//             flex-direction: column;
//             .products{
//                 display: flex;
//                 flex-direction: row;
//             .product{
//                 flex-direction: column;
//         .imgtag{
//             height:300px;
//             width:300px;
//             display: flex;
//             justify-content: center;
//         }
//         .header{
//             display: flex;
//             align-items: center;
//         }
//         .lower{
//             text-align: center;
//         }
//     }
// }
// }

.container {
    margin: 30px;
    .products {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
  
      .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 20%;
        padding: 20px;
        background-color: gray;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        .imgtag{
            list-style: none;
        }
        .upper {
            list-style: none;
          img {
              width: auto;
            height: 300px;
          }
        }
        .lower {
          p {
            width: 100%;
            font-size: 14px;
            text-align: center;
            background-color: white;
            margin-top: 8px;
          }
        //   button{
        //       width: 100%;
        //       color: white;
        //       border: none;
        //       border-radius: 8px;
        //       background-color: rgb(57, 73, 255);
        //       cursor: pointer;
        //       padding: 8px;
        //       font-weight: 600;
        //       font-size: 16px;
        //       margin-top: 16px;
        //   }
        // }
      }
    }
  }
}